nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-color: #ffffff;
    align-items: center;
}

nav div {
    height: 30px;
    flex-grow: 1;
    padding: 10px;
}

nav div img {
    height: 100%;
}

nav div #account {
    float: right;
}

nav div.search-container>input {
    box-sizing: border-box;
    height: 30px;
    width: 75%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

nav div.search-container a>button:hover {
    color: black;
    background-color: white;
    transition-duration: 0.2s;
}

nav div.search-container a>button {
    box-sizing: border-box;
    height: 30px;
    width: 25%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #006da8;
    color: white;
    font-weight: 600;
}

main div.post-area {
    margin: 0px auto;
    padding: 50px 0;
    display: grid;
    flex-flow: row nowrap;
    justify-content: center;
    width: 90%;
    max-width: 900px;
    height: 100%;
    background-color: white;
}

main div.post {
    margin: 10px auto;
    width: 80%;
    height: fit-content;
    box-shadow: 0px 0px 9px gray;
    /*Third value adds blur */
}

main #first_post {
    margin-top: 70px;
}

main div.post div.content img {
    width: 100%;
    height: auto;
}

main div.post div.header img {
    margin-top: 6px;
    margin-left: 6px;
    height: 48px;
    width: auto;
}

main div.post div.footer input {
    height: 48px;
    width: auto;
    font-size: 1.3em;
    margin: 10px;
}

main div.post div.footer input:hover {
    opacity: 0.5;
}

main div.post div.header p {
    float: right;
    color: gray;
    margin-right: 6px;
}

main div.post div.desc p {
    font-size: 1.5em;
    font-weight: 600;
    margin: 15px 10px;
}